
# Compiled Go binaries
*.exe
*.darwin
*.linux
*.windows
*.freebsd
*.netbsd
*.openbsd
*.dragonfly
*.solaris
*.plan9

# Go build cache
.cache/go-build/
*/dist

# IDE-specific files (common for Go development)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store

# Logs and temporary files
*.log
*/tmp/
*/workspaces/
